body {
    width: 100%;
    margin: 0 auto;
    overflow-x: auto;
    clear: both;
    overflow-x: hidden;
}

.bg-img {
    background-image: url('./cart.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60%;
}

* {
    font-family: "MergeBlack", sans-serif;
}

a {
    font-family: "MergeBlack", sans-serif;
    text-decoration: none;
}

h5 {
    padding: 0;
}

@media screen and (min-width:1024px) {
     ::-webkit-scrollbar {
        width: 8px;
        height: 8px;
    }
     ::-webkit-scrollbar-track {
        box-shadow: inset;
        -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.3);
        background: #fff;
    }
     ::-webkit-scrollbar-thumb {
        background: rgba(186, 35, 35, 0.8);
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
    }
     ::-webkit-scrollbar-thumb:window-inactive {
        background: rgba(186, 35, 35, 0.4);
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
    }
    .menu-header {
        height: 80px;
        width: 100%;
        display: flex;
        background: #c81f34;
        text-align: center;
        margin: 0 auto;
    }
    /* Menu Hide for items 'Thuc Don' */
    .items__hide {
        opacity: 0;
        z-index: -3;
        width: 110%;
        position: absolute;
        left: -5%;
        top: 5rem;
        transition-duration: 0.5s;
    }
    .items__hide ul {
        padding: 0;
        display: flex;
        justify-content: center;
        z-index: -10;
        margin: 0 auto;
        width: 80%;
        background-color: #F4D2D6;
    }
    .items__hide-img {
        height: auto;
        padding: 0;
    }
    .items__hide-img .hide__img-link {
        padding: 0 20px;
    }
    /*img of hide items*/
    .img__reponsive {
        max-width: 80%;
        width: 70%;
        transition-duration: 0.5s;
        height: auto;
        display: block;
        margin: 0 auto;
    }
    .img__reponsive:hover {
        -webkit-transform: scale(1.2) translateZ(0);
        transform: scale(1.2) translateZ(0);
    }
    .menu__items-hide:hover .items__hide {
        transition-duration: 0.5;
        opacity: 1;
        z-index: 10;
    }
    .sl {
        color: #c81f34;
        font-size: 30px;
        font-weight: 700;
        margin: 0 auto;
        text-align: center;
        position: relative;
        width: 10%;
        margin-bottom: auto;
        margin-top: auto;
        padding: 60px;
    }
    .order {
        opacity: 1;
        display: block;
        cursor: pointer;
        background: #FAC437;
        width: 300px;
        height: 150px;
        background-size: 80px 80px;
        background-position: 20px;
        background-repeat: no-repeat;
        position: fixed;
        right: 20px;
        bottom: 90px;
        border-radius: 10px;
        z-index: 5;
        transition: transform 1s;
    }
    .order-bar {
        width: 100%;
        opacity: 0;
        background: rgba(206, 201, 201, 0.6);
        top: 0;
        bottom: 0;
        border-radius: 10px;
        z-index: -1;
        overflow: auto;
        background-size: 80px 80px;
        background-position: 20px;
        background-repeat: no-repeat;
        position: fixed;
        padding: 30px 0;
    }
    /* ====== Order bar ===== */
    .order__bar-ctn {
        margin: 0 auto;
        max-height: 100%;
        width: 80%;
        overflow: auto;
        background-color: #FAC437;
        border-radius: 10px;
        padding: 30px;
    }
    .order,
    .order-bar {
        transition-duration: 0.5s;
    }
    .back {
        text-align: center;
        cursor: pointer;
        border-radius: 100%;
        width: 20px;
        color: white;
        font-weight: bold;
        background-color: #c81f34;
        padding: 10px;
    }
    .order-tt {
        font-size: 30px;
        font-weight: 700;
        text-align: center;
        color: #c81f34;
    }
    .ctn-order-dish {
        display: flex;
        width: 100%;
        margin-top: 40px;
    }
    .ctn-quantity {
        flex-basis: 40%;
        display: flex;
    }
    .name-dish {
        flex-basis: 40%;
        font-size: 20px;
        font-size: bold;
        padding: 5px;
    }
    .quantity,
    .price {
        text-align: center;
        font-size: 20px;
        flex-basis: 40%;
    }
    .ctn-delete {
        width: 40px;
        text-align: right;
        float: right;
    }
    .dish {
        display: flex;
        flex-wrap: wrap;
        width: 80%;
        position: relative;
        margin: 0 auto;
    }
    .trim,
    .plus,
    .delete {
        background-color: #c81f34;
        color: #fff;
        font-weight: bold;
        width: 25px;
        height: 25px;
        border-radius: 10px;
        border-color: #c81f34;
        flex-basis: 10%;
    }
    .ctn-total {
        display: flex;
        width: 100%;
        font-size: 30px;
        color: #c81f34;
        font-weight: 700;
        margin-top: 30px;
    }
    .price {
        width: 300px;
        margin-left: 20px;
    }
    .tt-total {
        flex-basis: 40%;
    }
    .total {
        flex-basis: 60%;
        text-align: right;
    }
    .check-out {
        width: 100%;
        background-color: #c81f34;
        color: #fff;
        font-size: 40px;
        font-weight: bold;
        margin: 0 auto;
        position: relative;
        text-align: center;
        height: 50px;
        border-radius: 10px;
    }
    .logo {
        margin-left: 5%;
        margin-top: 1px;
        height: 80px;
        width: 80px;
    }
    .menu {
        margin: 0 auto;
        display: flex;
        margin-left: 6%;
        margin-top: 40px;
        flex-basis: 60%;
        width: 60%;
        font-size: 12px;
        font-weight: bolder;
        font-family: Arial, Helvetica, sans-serif;
        text-decoration: none;
    }
    .menu li {
        /* height: 20px; */
        color: white;
        list-style: none;
        padding: 15px 10px 10px 5px;
        border-radius: 10px 10px 0 0;
        cursor: pointer;
        margin: 0 auto;
        overflow: hidden;
    }
    .menu li:hover {
        color: #c81f34;
        cursor: pointer;
        background-color: rgba(255, 255, 255, 0.8);
    }
    .tel {
        width: 150px;
        height: 50px;
        padding: 10px;
        margin-top: 20px;
    }
    .login {
        color: white;
        position: absolute;
        margin-left: 70%;
        margin-top: 15px;
        font-size: 12px;
    }
    .banner {
        width: 100%;
        margin: 0 auto;
        display: block;
    }
    .menu-footer {
        text-align: center;
        display: flex;
        background: #c81f34;
        margin: 0 auto;
        color: white;
        font-weight: bolder;
        font-size: 12px;
    }
    .menu-footer ul {
        padding: 0;
        display: flex;
        list-style: none;
        margin: auto;
    }
    .menu-footer ul li {
        margin: 0 auto;
        padding: 10px 20px;
        cursor: pointer;
        position: relative;
    }
    .menu-footer ul li:hover {
        background-color: orange;
        color: #c81f34;
        height: 100%;
    }
    .menu-footer ul li:hover::before {
        transform: scale(1);
    }
    .bg-dish2 {
        position: relative;
        top: 800px;
    }
    .bg-xalach {
        z-index: 1;
    }
    .xa-lach {
        width: 100%;
        height: 600px;
        margin-top: 10px;
        position: absolute;
    }
    .select-dish {
        margin: 0 auto;
        text-align: center;
        display: flex;
        margin-left: 18%;
        margin-top: 0%;
    }
    .select-dish img {
        width: 270px;
        height: 240px;
    }
    .btn-dathang {
        height: 35px;
        z-index: 3;
        position: relative;
        padding: 5px;
        background: #c81f34;
        color: white;
        width: 50%;
        border-radius: 6px;
        border: none;
        cursor: pointer;
        touch-action: manipulation;
        font-weight: 700;
    }
    .btn-dathang::before {
        content: '';
        border-radius: 6px;
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        background: #FAC437;
        opacity: 0.9;
        transform-origin: 1 1;
        transform: scaleX(0);
        transition: transform 0.9s cubic-bezier(0.5, 1.6, 0.4, 0.7);
        z-index: -1;
    }
    .btn-dathang:hover {
        color: black;
    }
    .btn-dathang:hover::before {
        transform: scale(1);
    }
    .title-dish {
        height: 50px;
        color: black;
        font-weight: 750;
        font-size: 18px;
    }
    .title-cost {
        margin-top: 50px;
        font-size: 20px;
        color: #c81f34;
        font-weight: 800;
    }
    .title-cost,
    .dat-hang {
        position: relative;
        top: 30px;
    }
    .ctn-dish img {
        width: 90%;
        margin: 0 auto;
    }
    .ctn-dish {
        text-align: center;
        border: 2px dashed orange;
        border-top: none;
        width: 30%;
        padding: 16px;
        margin: 0 auto;
    }
    button {
        cursor: pointer;
        outline: none;
        z-index: 5;
    }
    .ctn-dish1 img {
        margin-top: 15px;
    }
    .title-dish1 {
        margin-top: 35px;
        color: black;
        font-weight: 750;
        font-size: 18px;
    }
    .title-cost1 {
        margin-top: 50px;
        font-size: 20px;
        color: #c81f34;
        font-weight: 800;
    }
    .dat-hang {
        margin-top: 20px;
        margin-bottom: 20px;
        cursor: pointer;
        z-index: 2;
    }
    .khoang-cach {
        width: 200px;
        height: 100px;
    }
    .onion {
        position: absolute;
        width: 1230px;
        height: 500px;
    }
    .footer {
        display: flex;
        background: #c81f34;
        width: auto;
        margin: 0 auto;
        font-size: 15px;
        color: white;
    }
    .container {
        margin: 0 auto;
    }
    .footer img {
        width: 130px;
        height: 130px;
        margin-left: 10%;
        margin-top: 30px;
    }
    .footer-container {
        display: flex;
        padding: 10px;
    }
    .doan-van {
        padding: 8px;
        margin-left: 30px;
    }
    .add {
        width: 400px;
        padding: 10px;
    }
    .tell-footer {
        width: auto;
        margin-top: 1.2%;
        margin-right: 10px;
    }
    .tell-footer img {
        width: 300px;
        height: 100px;
        margin-left: 20px;
    }
    .connect {
        margin-right: 1%;
        ;
        margin-top: 2%;
        font-size: 15px;
        font-weight: 500;
    }
    .connect p {
        font-size: 15px;
        font-weight: 700;
    }
    .social {
        display: flex;
        margin: 0 auto;
    }
    .icon {
        text-align: center;
        width: 20px;
        height: 20px;
        margin: 0 auto;
        position: relative;
        background-color: #FAC437;
        padding: 25px;
        border-radius: 100%;
        transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    }
    .link-social {
        margin: 0 auto;
        width: 20px;
        font-size: 1.3rem;
        height: 20px;
        text-align: center;
        font-weight: 700;
        color: #c81f34;
    }
    .icon:hover {
        border: 2px solid white;
        transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    }
    .ky-hieu {
        top: 50px;
        left: 90px;
        right: auto;
        position: relative;
        font-size: 40px;
        opacity: none;
        font-weight: bold;
    }
    .title-new {
        top: 50px;
        left: 90px;
        right: auto;
        position: relative;
        opacity: none;
        font-weight: bold;
    }
    .icon-menu {
        display: none;
    }
    .li-none {
        display: none;
    }
}

@media screen and (max-width:480px) {
    body {
        overflow-x: hidden;
    }
     ::-webkit-scrollbar-track {
        box-shadow: inset;
        -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.3);
        background: #fff;
    }
     ::-webkit-scrollbar-thumb {
        background: rgba(186, 35, 35, 0.8);
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
    }
     ::-webkit-scrollbar-thumb:window-inactive {
        background: rgba(186, 35, 35, 0.4);
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
    }
    .menu-header {
        display: flex;
        width: 100%;
        height: 65px;
        background-color: #c81f34;
        margin: 0 auto;
    }
    .list-icon {
        width: 80%;
    }
    .ctn-logo {
        flex-basis: 30%;
        margin: 0 auto;
        position: relative;
    }
    .icon-menu {
        opacity: 1;
        margin: 0 auto;
        background-size: 20px 20px;
        position: relative;
        z-index: 5;
    }
    .menu {
        height: 0;
        position: fixed;
        opacity: 0;
        margin: 0 auto;
        left: 0px;
        color: white;
        z-index: -10;
    }
    .menu.is-toggle {
        width: 200px;
        height: auto;
        opacity: 1;
        z-index: 6;
        background-color: #353535;
    }
    .menu,
    .icon-menu {
        transition-duration: 0.5s;
    }
    .li-none {
        text-align: left;
        float: right;
        height: 30px;
        font-weight: bolder;
        z-index: 1;
    }
    .menu li {
        text-align: center;
        position: relative;
        left: -10%;
        padding: 10px;
        font-size: 100%;
        font-weight: 700;
    }
    .login {
        display: none;
    }
    .banner {
        width: 100%;
    }
    .bg-dish img,
    .bg-dish2 img {
        width: 100%;
        z-index: -99999999;
    }
    .bg-dish img {
        position: absolute;
        top: 400px;
    }
    .bg-dish2 img {
        position: absolute;
        top: 600px;
    }
    .tel {
        position: relative;
        height: 40px;
        width: 30%;
        padding: 10px;
    }
    .logo {
        width: 100px;
        height: 70px;
        position: relative;
        bottom: 6px;
    }
    .menu-footer {
        top: -5px;
        position: relative;
        margin: 0 auto;
        width: 100%;
        background-color: #c81f34;
        color: white;
        font-weight: bold;
    }
    .menu-li {
        display: none;
        margin: 0 auto;
        width: 80%;
        flex-wrap: wrap;
    }
    .menu-li li {
        padding: 5px;
    }
    .doan-li {
        text-align: center;
        padding: 10px;
        background-color: #a5740a;
        width: 130px;
        height: 30px;
        font-size: 1rem;
        border-radius: 10px;
    }
    .dish {
        width: 80%;
        margin: 0 auto;
    }
    .path-img {
        width: 300px;
        height: 250px;
        position: relative;
        margin: 0 auto;
        display: block;
    }
    .ctn-dish {
        width: 100%;
        margin: 0 auto;
        padding: 10px 0;
        border-bottom: 2px dashed;
        border-color: #fac437;
    }
    .title-dish {
        font-size: 1.25rem;
        font-weight: 700;
        margin: 0 auto;
        text-align: center;
        margin-top: 0;
    }
    .title-cost {
        text-align: center;
        font-size: 1.25rem;
        color: #c81f34;
        font-weight: 700;
        margin-top: 20px;
    }
    .dat-hang {
        width: 100%;
        margin: 0 auto;
        margin-top: 20px;
        z-index: -1;
    }
    .btn-dathang {
        margin: 0 auto;
        display: block;
        width: 90%;
        background-color: #c81f34;
        color: white;
        font-size: 1.25rem;
        padding: 10px;
        border-radius: 10px;
        outline-offset: none;
        font-weight: 700;
        z-index: 1;
    }
    .logo-footer {
        display: none;
    }
    .doan-van {
        display: none;
    }
    .footer {
        position: relative;
        top: 50px;
        margin: 0 auto;
        background-color: #c81f34;
        width: 100%;
    }
    .tell-footer {
        width: 100%;
    }
    .tell-footer img {
        width: 80%;
        padding: 10px;
        margin: 0 auto;
        display: block;
    }
    .tell-footer p {
        display: none;
    }
    .connect p {
        text-align: center;
        font-size: 1.25rem;
        color: white;
        font-weight: 700;
    }
    .social {
        width: 50%;
        display: flex;
        margin: 0 auto;
    }
    .icon {
        position: relative;
        margin: 0 auto;
    }
    .link-social {
        border-radius: 100%;
        background: #fac437;
        display: block;
        padding: 25px;
        width: 20px;
        height: 20px;
        text-decoration: none;
        color: #c81f34;
        font-size: 1.3rem;
        text-align: center;
        font-weight: 700;
    }
    .sl {
        font-size: 30px;
        color: #c81f34;
        text-align: center;
        position: fixed;
        background-repeat: no-repeat;
        background-color: #FAC437;
        background-size: 40%;
        background-position-y: bottom;
        background-position-x: center;
        border-radius: 10px;
        width: 80px;
        height: 50px;
        top: auto;
        bottom: auto;
        padding: 8px;
    }
    .order-tt {
        font-size: 25px;
        color: #c81f34;
        text-align: center;
        font-weight: 700;
    }
    .back {
        text-align: center;
        font-size: 15px;
        padding: 10px;
        width: 20px;
        background-color: #c81f34;
        border-radius: 100%;
        color: white;
    }
    .order {
        opacity: 1;
        z-index: 5;
        position: fixed;
        top: 350px;
    }
    .order-bar {
        opacity: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        position: fixed;
        background: rgba(206, 201, 201, 0.6);
        top: 0;
        padding: 20px 0;
        bottom: auto;
        z-index: -10;
    }
    .order__bar-ctn {
        overflow: auto;
        border-radius: 10px;
        background-color: #FAC437;
        margin: 0 auto;
        width: 90%;
        padding: 20px 0;
    }
    .order,
    .order-bar {
        transition-duration: 0.5s;
    }
    .ctn-order {
        padding: 10px;
    }
    .ctn-order-dish {
        margin: 0 auto;
        display: flex;
        margin-bottom: 17px;
    }
    .name-dish {
        max-height: 50px;
        font-size: 1rem;
        overflow: auto;
        font-weight: bold;
        width: 42%;
    }
    .plus,
    .trim,
    .delete {
        background-color: #d45967;
        border-radius: 10px;
    }
    .ctn-quantity {
        margin-left: 10px;
        margin-right: 10px;
    }
    .ctn-total {
        display: flex;
        padding: 10px;
    }
    .total {
        font-size: 1.25rem;
        text-align: right;
        width: 90%;
        font-weight: 700;
        color: #c81f34;
    }
    .tt-total {
        font-weight: 700;
        font-size: 1.25rem;
        color: #c81f34;
    }
    .quantity,
    .price {
        color: #c81f34;
        font-size: 1rem;
    }
    .check-out {
        border-radius: 10px;
        width: 100%;
        padding: 5%;
        font-size: 1.25rem;
        text-align: center;
        background-color: #c81f34;
        color: #fff;
    }
}

@media screen and (max-width:1023px) and (min-width:490px) {
    html {
        overflow-x: hidden;
    }
    /*   ::-webkit-scrollbar {
        width: 8px; height:8px;
        }
        ::-webkit-scrollbar-track {
            box-shadow: inset;
        -webkit-box-shadow: inset 0 0 4px rgba(0,0,0,0.3);
        background:#fff;
        }
        ::-webkit-scrollbar-thumb {
        background: rgba(186,35,35,0.8);
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
        }
        ::-webkit-scrollbar-thumb:window-inactive {
        background: rgba(186,35,35,0.4);
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
            }*/
    .menu-header {
        height: 80px;
        width: 100%;
        display: flex;
        background: #c81f34;
        text-align: center;
        margin: 0 auto;
    }
    .sl {
        color: #c81f34;
        font-size: 35px;
        font-weight: 700;
        margin: 0 auto;
        text-align: center;
        position: relative;
        width: 10%;
        padding: 30px;
        height: 100%;
        top: 10px;
    }
    .order {
        opacity: 1;
        display: block;
        cursor: pointer;
        background: #FAC437;
        width: 200px;
        height: 120px;
        background-size: 80px 80px;
        background-position: left;
        background-repeat: no-repeat;
        position: fixed;
        right: auto;
        bottom: 250px;
        border-radius: 10px;
        z-index: 5;
        transition: transform 1s;
    }
    .order-bar {
        width: 100%;
        opacity: 0;
        background: rgba(206, 201, 201, 0.6);
        top: 0;
        bottom: 0;
        border-radius: 10px;
        z-index: -1;
        overflow: auto;
        background-size: 80px 80px;
        background-position: 20px;
        background-repeat: no-repeat;
        position: fixed;
        padding: 30px 0;
    }
    /* ====== Order bar ===== */
    .order__bar-ctn {
        margin: 0 auto;
        max-height: 100%;
        width: 80%;
        overflow: auto;
        background-color: #FAC437;
        border-radius: 10px;
        padding: 30px;
    }
    .order,
    .order-bar {
        transition-duration: 0.5s;
    }
    .back {
        cursor: pointer;
        border-radius: 20px;
        width: 20px;
        height: 20px;
        color: white;
        font-weight: bold;
        background-color: #c81f34;
        padding: 10px;
    }
    .order-tt {
        font-size: 30px;
        font-weight: 700;
        text-align: center;
        color: #c81f34;
    }
    .ctn-order-dish {
        display: flex;
        width: 100%;
        margin-top: 40px;
    }
    .ctn-quantity {
        flex-basis: 40%;
        display: flex;
    }
    .name-dish {
        flex-basis: 40%;
        font-size: 20px;
        font-size: bold;
        padding: 5px;
        color: #353535;
    }
    .quantity,
    .price {
        text-align: center;
        font-size: 20px;
        flex-basis: 40%;
    }
    .ctn-delete {
        width: 40px;
        text-align: right;
        float: right;
    }
    .dish {
        display: flex;
        flex-wrap: wrap;
        width: 80%;
        position: relative;
        margin: 0 auto;
    }
    .trim,
    .plus,
    .delete {
        background-color: #c81f34;
        color: #fff;
        font-weight: bold;
        width: 25px;
        height: 25px;
        border-radius: 10px;
        border-color: #c81f34;
        flex-basis: 10%;
    }
    .ctn-total {
        display: flex;
        width: 100%;
        font-size: 30px;
        color: #c81f34;
        font-weight: 700;
        margin-top: 30px;
    }
    .price {
        width: 300px;
        margin-left: 20px;
    }
    .tt-total {
        flex-basis: 40%;
    }
    .total {
        flex-basis: 60%;
        text-align: right;
    }
    .check-out {
        width: 100%;
        background-color: #c81f34;
        color: #fff;
        font-size: 40px;
        font-weight: bold;
        margin: 0 auto;
        position: relative;
        text-align: center;
        height: 50px;
    }
    .logo {
        margin-left: 5%;
        margin-top: 1px;
        height: 80px;
        width: 80px;
    }
    .menu {
        bottom: 5px;
        position: relative;
        margin: 0 auto;
        display: flex;
        margin-top: 40px;
        flex-basis: 60%;
        width: 60%;
        font-size: 10px;
        font-weight: bolder;
        font-family: Arial, Helvetica, sans-serif;
        text-decoration: none;
    }
    .menu li {
        height: 20px;
        color: white;
        list-style: none;
        padding: 15px 10px 10px 5px;
        border-radius: 10px;
        cursor: pointer;
        margin: 0 auto;
    }
    .menu li:hover {
        background: white;
        color: #c81f34;
        cursor: pointer;
    }
    .tel {
        width: 150px;
        height: 50px;
        padding: 10px;
        margin-top: 20px;
    }
    .login {
        color: white;
        position: absolute;
        margin-left: 70%;
        margin-top: 15px;
        font-size: 12px;
    }
    .banner {
        width: 100%;
        margin: 0 auto;
        display: block;
    }
    .menu-footer {
        height: 60px;
        text-align: center;
        display: flex;
        background: #c81f34;
        margin: 0 auto;
        color: white;
        font-weight: bolder;
        font-size: 12px;
    }
    .menu-li {
        height: 100%;
        position: relative;
        display: flex;
        list-style: none;
        margin: auto;
        bottom: 5px;
    }
    .menu-li li {
        text-align: center;
        height: 100%;
        padding: 0px 20px 0px 0px;
        cursor: pointer;
        position: relative;
        top: 5px;
        width: 25%;
        right: 5px;
    }
    .menu-li li:hover {
        background-color: orange;
        color: #c81f34;
        height: 100%;
    }
    .menu-li li:hover::before {
        transform: scale(1);
    }
    .bg-dish2 {
        position: relative;
        top: 800px;
    }
    .bg-xalach {
        z-index: 1;
    }
    .xa-lach {
        width: 100%;
        height: 500px;
        margin-top: 10px;
        position: absolute;
    }
    .select-dish {
        margin: 0 auto;
        text-align: center;
        display: flex;
        margin-left: 18%;
        margin-top: 0%;
    }
    .select-dish img {
        width: 270px;
        height: 240px;
    }
    .btn-dathang {
        height: 35px;
        z-index: 3;
        position: relative;
        padding: 5px;
        background: #c81f34;
        color: white;
        width: 50%;
        border-radius: 6px;
        border: none;
        cursor: pointer;
        touch-action: manipulation;
        font-weight: 700;
    }
    .btn-dathang::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        background: #FAC437;
        opacity: 0.9;
        transform-origin: 1 1;
        transform: scaleX(0);
        transition: transform 1s cubic-bezier(0.5, 1.6, 0.4, 0.7);
        z-index: -1;
    }
    .btn-dathang:hover {
        color: black;
    }
    .btn-dathang:hover::before {
        transform: scale(1);
    }
    .title-dish {
        height: 50px;
        color: black;
        font-weight: 750;
        font-size: 18px;
    }
    .title-cost {
        margin-top: 50px;
        font-size: 20px;
        color: #c81f34;
        font-weight: 800;
    }
    .title-cost,
    .dat-hang {
        position: relative;
        top: 30px;
    }
    .ctn-dish img {
        width: 90%;
        margin: 0 auto;
    }
    .ctn-dish {
        text-align: center;
        border-bottom: 2px dashed orange;
        width: 30%;
        padding: 16px;
        margin: 0 auto;
    }
    button {
        cursor: pointer;
        outline: none;
        z-index: 5;
    }
    .ctn-dish1 img {
        margin-top: 15px;
    }
    .title-dish1 {
        margin-top: 35px;
        color: black;
        font-weight: 750;
        font-size: 18px;
    }
    .title-cost1 {
        margin-top: 50px;
        font-size: 20px;
        color: #c81f34;
        font-weight: 800;
    }
    .dat-hang {
        margin-top: 20px;
        margin-bottom: 20px;
        cursor: pointer;
        z-index: 2;
    }
    .khoang-cach {
        width: 200px;
        height: 100px;
    }
    .onion {
        position: absolute;
        width: 1230px;
        height: 500px;
    }
    .container {
        margin: 0 auto;
    }
    .footer {
        flex-wrap: wrap;
        display: flex;
        background: #c81f34;
        width: auto;
        margin: 0 auto;
        font-size: 15px;
        color: white;
    }
    .footer img {
        margin: 0 auto;
        display: block;
        width: 100%;
    }
    .footer-container {
        display: flex;
        padding: 10px;
    }
    .doan-van {
        padding: 8px;
        margin-left: 30px;
    }
    .add {
        width: 400px;
        padding: 10px;
    }
    .tell-footer {
        width: 30%;
        position: absolute;
        right: 0;
        padding: 10px 0;
    }
    .tell-footer img {
        padding: 30px 0;
        margin: 0 auto;
        width: 80%;
    }
    .tell-cs {
        text-align: center;
    }
    .connect {
        margin: 0 auto;
        font-size: 15px;
        font-weight: 500;
    }
    .connect p {
        font-size: 15px;
        font-weight: 700;
        text-align: center;
    }
    .social {
        display: flex;
    }
    .link-social {
        display: block;
        margin: 0 auto;
        border-radius: 100%;
        height: 30px;
        width: 30px;
        text-align: center;
        font-size: 25px;
        font-weight: 700;
        color: #fff;
    }
    .icon {
        margin: 0 auto;
        transition: cubic-bezier(0.075, 0.82, 0.165, 1);
        background-color: #FAC437;
        padding: 30px;
        border-radius: 100%;
    }
    .icon button {}
    .icon:hover {
        border: 2px solid white;
        transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    }
    .circle {
        margin: 0 auto;
        position: absolute;
        top: 220px;
        left: 450px;
        width: 350px;
        height: 350px;
        border-radius: 200px;
        background: black;
        opacity: 0.5;
        z-index: 1;
        font-weight: 700;
        color: white;
    }
    .service {
        top: 50px;
        left: 90px;
        right: auto;
        position: relative;
        font-size: 40px;
        opacity: none;
        font-weight: bold;
    }
    .ky-hieu {
        top: 50px;
        left: 90px;
        right: auto;
        position: relative;
        font-size: 40px;
        opacity: none;
        font-weight: bold;
    }
    .title-new {
        top: 50px;
        left: 90px;
        right: auto;
        position: relative;
        opacity: none;
        font-weight: bold;
    }
    .icon-menu {
        display: none;
    }
    .li-none {
        display: none;
    }
}

ol,
ul,
li {
    list-style: none;
}